In [1]:
import pandas as pd
from main import UserPredictor
%load_ext autoreload
%autoreload 2

In [2]:
model = UserPredictor()
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")
model.fit(train_users, train_logs, train_y)

(30000, 7)

In [3]:
train_data = (train_users.merge(train_y, how='inner', on='user_id'))
aggregated_train_logs = train_logs[['user_id','seconds']].groupby('user_id').sum()
train_data = train_data.merge(aggregated_train_logs, how='outer', on='user_id').set_index('user_id')
train_data[train_data.isna().any(axis=1)]
train_data.fillna(aggregated_train_logs['seconds'].median())

                   names  age  past_purchase_amt   badge      y  seconds
user_id
0        Adriana Mcclure   26          39.344704    gold  False    327.0
1          Stacy Gilmore   67          15.840151  silver  False     78.0
2           Joanna Walsh   50        1099.420085  bronze   True    432.0
3          Eduardo Moore   65           5.880239  bronze  False    347.0
4         Angela Freeman   88        1312.296847  bronze  False    347.0
...                  ...  ...                ...     ...    ...      ...
29995      William Lewis   87         108.914205  bronze  False    563.0
29996      James Miranda   49         291.969273    gold   True    532.0
29997       Carlos Davis   46           2.609698  bronze  False    347.0
29998      Makayla Smith   23         164.885894  bronze  False    347.0
29999      Tina Anderson   51         161.905284    gold   True    467.0

[30000 rows x 6 columns]

In [4]:
test_users = pd.read_csv("data/test1_users.csv")
test_logs = pd.read_csv("data/test1_logs.csv")
y_pred = model.predict(test_users, test_logs)
test_logs.shape

(104733, 4)

In [5]:
test1_y = pd.read_csv("data/test1_y.csv")
test1_y.shape

(30000, 2)

In [6]:
test_users['user_id'].nunique()

30000

In [7]:
y_pred

array([ True,  True, False, ..., False, False,  True], shape=(30000,))